html{
    color: #cad3d6;
    min-height: 100%;
    background-color: #EEEEEE;
    padding: 0;
    margin: 0;

}

body {

    max-width: 1200px;
    position: relative;
    margin: 40px auto 15px;
    font: 100 14px/1.5 "Trebuchet MS", Helvetica, SimSun, sans-serif;

}

p, ul, li, table {

    color: #2c2624;
    margin: 0;
    padding: 0;

}

a {

    color: #003740;
    text-decoration: none;
    padding-bottom: 1px;

}

a:hover {

    color: #009cb5;
    padding-bottom: 0;
    border-bottom: 1px solid #468;

}

a:visited {

    color: #6ac;

}

input:focus, a:focus, button:focus {

    box-shadow: 0 0 3px #cb0;
    -webkit-box-shadow: 0 0 3px #cb0;
    -moz-box-shadow: 0 0 3px #cb0;

}

h1, h2, h3, h4, h5, h6 {

    font-family: "Microsoft Yahei", sans-serif;
    margin: 0;
    padding: 0.15em 0;

}

h1 {

    font-size: 1.7em;
    padding-bottom: 0.1em;
    color: #258FB8;
    margin-bottom: 0.5em;
    margin-top: 0;

}

h2 {

    font-size: 1.52em;
    color: #4A478B;
    margin-top: 1em;


}

h3 {

    font-size: 1.22em;
    color: #7F9331;
    width: 80%;
    margin-top: 0.9em;
    margin-bottom: 0.4em;

}

h4 {

    font-size: 1.15em;
    color: #46996A;
    margin-top: 0.8em;


}

h5 {

    font-size: 1.05em;
    color: #3E3E43;


}
h6 {

    font-size: 1.0em;
    color: #3d5200;

}

p, pre, blockquote, table, ul, ol, dl {

    color: #0f0f00;
    margin: 0.5em 0 1em;

}

ul ul, ul ol, ol ol, ol ul {

    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

li {

    margin: 0.3em auto;
    list-style-position: inside;

}

ol, ul {

    margin-left: 1em;
    padding-left: 0.5em;

}

dt {

    font-weight: bold;

}

img {

    border: none;

}

code {

    padding: 2px 4px;
    color: #00FF00;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;

}

blockquote, pre {

    padding: 0.8em;
    z-index: 2;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;


}

blockquote {

    background: rgba(180,180,180,0.1);
    border: 1px solid rgba(200,200,200,0.2);

}

blockquote:hover, pre:hover {

    color: #000000;
    background: rgba(130,130,130,0.25);

}

pre {

    margin-left: 1em;
    padding: 0.4em 0.8em;

}

table {

    border-collapse: collapse;

}

.syntaxhighlighter table {

    width: 100%;

}

.syntaxhighlighter td.gutter {

    width: 1em;

}

.syntaxhighlighter .gutter .line {

    padding-right: 0.3em;

}

th, td {

    border: 1px solid #256;
    padding: 0.3em 0.5em;


}

th {

    background-color: #000000;


}

hr {

    border: none;
    border-top: 3px double #035;
    width: 100%;
    margin: 20px 0;

}

del {

    text-decoration: line-through;
    opacity: 0.6;

}

strong, b {

    font-weight: 600;
    color: #010100;

}

em, i {

    font-family: Candara, "Microsoft Yahei", sans-serif;
    font-style: italic;

}

textarea {

    background: transparent;
    color: #000;
    resize: none;

}

.tocWrap {

    position: fixed; 
    width: 200px;
    z-index: 100;
    top: 16%;
    right: 2.8%;
    display: none;

}

.toc {

    display: none;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #0047e1;
    border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    color: #060606;
    background: #f4e0d4;
    background: rgba(10,30,40,0.85);
    padding: 12px;
    box-shadow: 0 1px 8px #fff;
    -webkit-box-shadow: 0 1px 8px #fff;
    -moz-box-shadow: 0 1px 8px #fff;

}

.tocWrap .toggler {

    text-align: center;
    font-size: 12px;
    background: #0f47e1;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    color: #0e0d0d;
    position: relative;
    z-index: 101;
    cursor: pointer;

}

.toc ul {

    margin: 0;

}

.toc li {

    color: #010000;

}

.toc a {

    color: #010000;

}

.todo {

    font-weight: bold;
    background-color: #0f1417;
    color: #5fcfdf;

}

.justleft {

    text-align: left;


}

.justright {

    text-align: right;


}

.justcenter {

    text-align: center;


}

.center {

    margin-left: auto;
    margin-right: auto;

}

red {

    padding: 2px 4px;
    color: red;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;

}
